---

---

<main class="bg-gray-900">
    <div
        class="max-w-3xl flex flex-col items-center pt-8 pb-8 px-4 w-full text-white mx-auto p-4"
    >
        <h2 class="text-2xl font-bold m-6 text-yellow-600">
            Questions générales
        </h2>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold text-gray-900 bg-yellow-600 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Comment fonctionne ce site ?
            </h3>
            <p>
                Notre site est une vitrine de nos outils. Il vous permet de voir
                l'ensemble des outils que nous mettons en location. Aucun
                paiement n'est fait sur ce site, seulement la réservation. Vous
                trouverez ici tout le matériel nécessaire pour vos projets de
                bricolage, jardinage, construction, etc. Le paiement peut être
                fait via des sites partenaires tels que Bricolib ou en espèces,
                Paypal, Wero/Paylib ou Lydia directement avec nous.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Le site est-il gratuit ?
            </h3>
            <p>
                Oui, l'utilisation du site et la réservation sont gratuites,
                vous ne paierez qu'au moment de la location.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Comment puis-je vous contacter ?
            </h3>
            <p>
                Vous pouvez nous contacter par mail via la rubrique contact,
                vous aurez une réponse dans la journée, généralement quelques
                heures.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Comment puis-je réserver un outil ?
            </h3>
            <p>
                Contactez-nous via l'onglet « Me réserver » de l'outil qui vous
                intéresse en indiquant les dates et la durée de la location
                souhaitée.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Demandez-vous une caution ?
            </h3>
            <p>
                Nous demandons une caution, en chèque non encaissé, de la valeur
                du bien minorée de 20%, et la présentation d'une pièce
                d'identité en cours de validation. Évidemment, nous pouvons nous
                arranger si besoin.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Où se trouvent les outils ?
            </h3>
            <p>
                Nos outils sont stockés à notre domicile, l'adresse exacte vous
                sera communiquée après validation de la réservation. Nous
                habitons quartier Aiguerelles, à proximité de la nouvelle
                mairie.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Quels sont les tarifs de location ?
            </h3>
            <p>
                Les tarifs varient en fonction de l'outil et de la durée de
                location (dégressif dès 2 jours consécutifs). Consultez la page
                de chaque outil pour les détails.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Quelle est la durée minimale de location ?
            </h3>
            <p>La durée minimale de location est d'une journée.</p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Quelle est la durée maximale de location ?
            </h3>
            <p>
                La durée maximale de location varie en fonction de nos
                réservations et de nos besoins personnels.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Comment se passe la récupération et le retour des outils ?
            </h3>
            <p>
                Les outils sont à récupérer et à retourner à notre domicile
                entre 8h et 19h du lundi au dimanche, sauf exception qui vous
                aurait été communiquée par message.
            </p>
        </div>
        <h2 class="text-2xl font-bold m-6 text-yellow-600">
            Questions sur les Outils
        </h2>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Les outils sont-ils en bon état ?
            </h3>
            <p>
                Tous nos outils sont régulièrement entretenus et vérifiés pour
                garantir leur bon fonctionnement. Ils sont pour la plupart neufs
                ou proche du neuf et de qualité professionnel.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Fournissez-vous des accessoires ou des consommables ?
            </h3>
            <p>
                Pour nos outils à batterie nous fournissons une batterie 18v ou
                deux (selon le besoin de l'outil) ainsi qu'un chargeur. Pour
                certains outils uniquement nous fournissons les consommables
                pour les petits travaux.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Comment utiliser les outils en toute sécurité ?
            </h3>
            <p>
                Nous fournissons des instructions d'utilisation et des consignes
                de sécurité pour chaque outil à l'oral et via un QR code collé
                sur l'outil. Nous avons également la possibilité de vous mettre
                à disposition des Équipements de Protection Individuel.
            </p>
        </div>

        <h2 class="text-2xl font-bold m-6 text-yellow-600">
            Questions sur le Paiement
        </h2>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Quels sont les modes de paiement acceptés ?
            </h3>
            <p>
                Nous acceptons les paiements par espèces, Paypal, Wero/Paylib ou
                Lydia. Nous sommes également présent sur des plate-forme tel que
                Bricolib ou allovoisin (une commision est prise par le site et
                est indépendante de notre volonté).
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Un dépôt de garantie est-il requis ?
            </h3>
            <p>
                Nous demandons une caution, en chèque non encaissé, de la valeur
                du bien minorée de 20%, et la présentation d'une pièce
                d'identité en cours de validation. Évidemment nous pouvons nous
                arranger si besoin.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Que se passe-t-il en cas de retard de retour ?
            </h3>
            <p>
                Si c'est quelques heures, tout vas bien, les aléas de la vie.
                Pensez juste à nous prévenir. Si le retard est de plus de 24h,
                une journée de location supplémentaires sera à régler.
            </p>
        </div>

        <h2 class="text-2xl font-bold m-6 text-yellow-600">
            Responsabilités et Sécurité
        </h2>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Que faire en cas de problème avec l'outil ?
            </h3>
            <p>
                Si c'est un soucis fonctionnel, n'hésitez pas à consulter la
                notice via le QR code collé sur l’outil ou à nous contacter par
                téléphone.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Que se passe-t-il en cas de dommage ou de perte d'un outil ?
            </h3>
            <p>
                Pendant la durée de location vous êtes responsable des dommages
                ou de la perte de l'outil. Si vous endommagez l'outil pas
                d'inquiétude, cela est pris en charge par la plupart des
                assurance responsabilités civiles. Nous sommes de fin bricoleurs
                et avons, jusqu'à présent, toujours réussi à réparer les petits
                dommages par nous mêmes sans avoir à solliciter nos assurances.
                Une possible participation peux vous être demandé. Le dépôt de
                garantie pourra être retenu en cas de perte ou dommage
                important.
            </p>
        </div>

        <div class="mb-4 w-full">
            <h3
                class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center"
            >
                Quelles sont les règles de sécurité à respecter ?
            </h3>
            <p>
                Nous encourageons le port d'équipements de protection
                individuelle lors de l'utilisation de certains outils (et
                d'ailleurs nous pouvons vous en prêter sans frais - la sécurité
                d'abord!), nous se saurons être tenu responsable en cas
                d'accident.
            </p>
        </div>
    </div>
</main>
