---

---

<main class="bg-gray-900">
    <div
        class="max-w-3xl flex flex-col items-center pt-8 pb-8 px-4 w-full text-white mx-auto p-4"
    >
        <h2 class="text-2xl font-bold m-6 text-yellow-600">
            Comment fonctionne la location d'outils chez nous ?
        </h2>

        <p class="mb-4 w-full">
            Nous avons simplifié la location d'outils pour répondre à vos
            besoins. Voici comment cela fonctionne :
        </p>

        <div class="mb-4 w-full">
            <h3 class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center">Réservation en ligne</h3>
            <ul class="list-disc list-inside">
                <li>
                    Parcourez notre sélection d'outils et choisissez celui qui
                    convient à votre projet.
                </li>
                <li>
                    Remplissez le formulaire de réservation en ligne en
                    indiquant les dates et la durée de location souhaitées.
                </li>
            </ul>
        </div>

        <div class="mb-4 w-full">
            <h3 class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center">Validation et confirmation</h3>
            <ul class="list-disc list-inside">
                <li>
                    Après réception de votre demande, nous vous contacterons par
                    e-mail, SMS ou téléphone pour confirmer la disponibilité de
                    l'outil et valider les détails de votre réservation.
                </li>
                <li>
                    Nous vous communiquerons l'adresse exacte où vous pourrez
                    récupérer l'outil.
                </li>
            </ul>
        </div>

        <div class="mb-4 w-full">
            <h3 class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center">Récupération de l'outil et paiement</h3>
            <ul class="list-disc list-inside">
                <li>
                    Le jour de la location, rendez-vous à l'adresse indiquée
                    pour récupérer votre outil.
                </li>
                <li>
                    Le paiement s'effectue sur place en espèces, par PayPal,
                    Paylib, Wero ou via la plateforme de location Bricolib (des
                    frais supplémentaires peuvent s'appliquer pour cette
                    dernière option).
                </li>
                <li>
                    Une pièce d'identité et une caution pourront vous être
                    demandés.
                </li>
            </ul>
        </div>

        <div class="mb-4 w-full">
            <h3 class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center">Utilisation de l'outil</h3>
            <ul class="list-disc list-inside">
                <li>
                    Utilisez l'outil en toute sécurité et conformément aux
                    instructions fournies.
                </li>
                <li>
                    N'hésitez pas à consulter la notice via le QR code présent
                    sur l'outil.
                </li>
            </ul>
        </div>

        <div class="mb-4 w-full">
            <h3 class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center">Retour et paiement</h3>
            <ul class="list-disc list-inside">
                <li>
                    À la fin de la période de location, retournez l'outil à
                    l'adresse de récupération.
                </li>
            </ul>
        </div>

        <div class="mb-4 w-full">
            <h3 class="font-semibold bg-yellow-600 text-gray-900 rounded-3xl p-2 mt-6 mb-3 mx-auto text-center">Points importants</h3>
            <ul class="list-disc list-inside">
                <li>
                    La réservation en ligne est essentielle pour garantir la
                    disponibilité de l'outil et nous permettre de gérer au
                    mieux.
                </li>
                <li>
                    La validation par e-mail, SMS ou téléphone permet de
                    confirmer tous les détails de votre location.
                </li>
                <li>
                    Le paiement s'effectue au moment de la prise de l'outil.
                </li>
                <li>
                    Pour toutes locations via la plateforme Bricolib, les
                    conditions générales d'utilisations de Bricolib
                    s'appliquent.
                </li>
            </ul>
        </div>

        <p class="mt-5">
            N'hésitez pas à nous contacter si vous avez des questions ou besoin
            d'aide.
        </p>

        <a href="/" class="bg-yellow-600 text-gray-900 font-semibold py-3 px-6 rounded-md hover:bg-yellow-500 transition-colors mt-5">
            Consultez notre catalogue
          </a>
    </div>
</main>
