---

---

<div class="bg-blue-900 text-white w-full py-12">
    <div class="max-w-4xl mx-auto px-4">
      <h2 class="text-3xl font-bold mb-6 text-center text-yellow-600">Tutos, Promos, Perfos</h2>
      <p class="text-sm mb-8 text-center">
        Ponctuellement on vous donne des astuces de bricolage, des tutoriels et des bons plans.
      </p>
      <p class="text-xs mb-8 text-center">
        Votre adresse email, c'est sacré! On ne l'utilise que pour notre newsletter, promis.
        Pas de spam, que des outils, des astuces et un peu d'humour. Et si jamais vous n'êtes pas satisfait, vous n'êtes qu'à un click d'en sortir.
      </p>
  
      <form
        action="https://gmail.us14.list-manage.com/subscribe/post?u=ec38cbd5296c5dda21ced7bb0&amp;id=fe4266e593&amp;f_id=00dafde0f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate flex flex-col md:flex-row gap-4"
        target="_blank"
        novalidate
      >
        <input
          type="email"
          value=""
          name="EMAIL"
          class="required email flex-1 p-3 rounded-md border border-gray-700 bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-yellow-600"
          id="mce-EMAIL"
          placeholder="Votre adresse mail"
        />
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_ec38cbd5296c5dda21ced7bb0_fe4266e593"
            tabindex="-1"
            value=""
          />
        </div>
        <button
          type="submit"
          value="Okay!"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="bg-yellow-600 text-gray-900 font-semibold py-3 px-6 rounded-md hover:bg-yellow-500 transition-colors"
        >
          Okay!
        </button>
      </form>
    </div>
  </div>