---

---

<main class="bg-gray-900">
  <div
    class="max-w-3xl flex flex-col items-center pt-8 pb-8 px-4 w-full text-white mx-auto p-4"
  >
    <h2 class="text-2xl font-bold m-6 text-yellow-600">Qui sommes-nous?</h2>

    <p class="mb-8">
      Notre histoire a débuté il y a trois ans, à Montpellier, d'une initiative
      simple : mettre à disposition en location notre collection d'outils
      personnels pour faciliter les projets de nos voisins. Ghislain, 31 ans,
      ingénieur en informatique la semaine, fou bricoleur le week-end
      (surtout quand il s'agit de bois et de ses chers outils Makita, qu'il
      traite comme des œuvres d'art) et Pauline, 29 ans, qui jongle entre une
      boutique de jouets pour enfants et bricoleuse amateur passionnée de DIY et
      de fabrication pour enfant (surprenant non?).
    </p>

    <p class="mb-8">
      Il y a trois ans, on s'est dit : «Pourquoi garder tous ces outils géniaux
      pour nous? Partageons-les avec ceux qui n'en n'ont besoin qu'une journée
      ou simplement pas la place de les stocker!». Et voilà, c'est comme ça que
      nous faisions notre première location. Dans une démarche d'économie
      circulaire et de favoriser l'entraide locale en offrant une alternative
      durable à l'achat d'outils pour des usages ponctuels.
    </p>

    <p class="mb-8">
      Depuis, on a eu le plaisir de voir plusieurs centaines de personnes
      transformer leurs projets en réalité grâce à nos outils.
    </p>

    <p class="mb-8">
      Alors, si vous avez besoin d'un outil, que ce soit pour construire un
      meuble, réparer un robinet ou juste pour impressionner vos amis avec vos
      talents de bricoleur, vous êtes au bon endroit. On vous promet des outils
      en bon état, des conseils et une bonne dose de bonne humeur.
    </p>

    <a href="/" class="bg-yellow-600 text-gray-900 font-semibold py-3 px-6 rounded-md hover:bg-yellow-500 transition-colors">
      Consultez notre catalogue
    </a>
  </div>
</main>
