---
import Carousel from "@/components/landing/Carousel.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<html lang="fr">
  <head>
    <BaseHead />
  </head>

  <body class="bg-blue-900">
    <slot />
    <Carousel></Carousel>
    <Footer />
  </body>
</html>
