---
import Carousel from "@/components/landing/Carousel.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import CookieConsent from "@/components/global/CookieConsent";
---

<html lang="fr">
  <head>
    <BaseHead />
  </head>

  <body class="bg-blue-900">
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WBD87NSH"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <CookieConsent client:load />
    <slot />
    <Carousel></Carousel>
    <Footer />
  </body>
</html>
