<footer class="max-w-3xl flex flex-col items-center pt-8 pb-8 px-4 w-full text-white mx-auto p-4">
    <p>Le Bar à Outils - Votre solution de location d'outils à Montpellier.</p>
    <p>Contactez-nous pour toute demande ou réservation.</p>
    <p>&copy; 2025 Le Bar à Outils. Tous droits réservés.</p>
</footer>