<footer class="max-w-3xl flex flex-col items-center pt-8 pb-8 px-4 w-full text-white mx-auto p-4">
    <p>Besoin d'un outil à Montpellier ? Le Bar à Outils, votre voisin spécialiste de la location d'outillage, vous propose une solution simple et rapide.</p>
    <p>Trouvez l'outil qu'il vous faut parmi nos catégories : outils électroportatifs, outils à main, que ce soit pour le travail du bois, du métal ou autre, outils de jardinage, matériel de nettoyage ou de manutention.</p>
    <p class="mt-4">&copy; 2025 Le Bar à Outils. Tous droits réservés.</p>
</footer>